<h1>Welcome to fake instagram</h1>

<form action='/post/create'>
    제목 : <input type='text' name='title'></br>
    내용 : <input type='text' name='content'></br>
    <input type='submit' value='글쓰기'>
</form>

<% @posts.each do |post| %>
    제목 : <%= post.title %> </br>
    내용 : <%= post.content %> </br>
<% end %>